
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', serif;
}


$main-text-color: #111111;
$label-color: #7C7C7C;
$input-border-color: #F2F2F2;

@mixin textStyle($f-size, $lh, $fw,$color) {
  color: $color;
  font-size: $f-size;
  line-height: $lh;
  font-weight: $fw;
  font-style: normal;
}

body {
  background: #F4F5FC;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

main {
  display: flex;

}

aside {
  min-width: 137px;
  display: flex;
  width: 20.5%;
  writing-mode: vertical-rl;
  transform-origin: center;
  transform: rotate(-180deg);
  background-color: #5A61ED;
  @include textStyle(45px, 60px, 400, white);
  letter-spacing: 2.2px;
  padding: 22px 6px;
  align-items: flex-end;
  font-family: 'PT Sans', sans-serif;
  z-index: 10;

}

#my-svg {
  position: absolute;
  bottom: 0;
  right: 0;

}


h1 {
  width: calc(100% - 55px);
  max-width: 485px;
  @include textStyle(21.5px, 25px, 400, $main-text-color);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.form__description {
  display: block;
  max-width: 485px;
  width: calc(100% - 55px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.container-with-form {
  position: relative;
  padding: 39px 23px 33px 22px;
  width: 79.5%;
  background: white;


  span {
    @include textStyle(14px, 16px, 300, $main-text-color);
  }
}


.row-with-select-1 {


  z-index: 200;

}

.row-with-select-2 {
  z-index: 100;

}

.form {
  display: flex;
  width: 100%;
  margin-top: 15px;
  flex-direction: column;
  height: calc(100% - 52px);
  position: relative;


  label {
    @include textStyle(12px, 14px, 300, $label-color);
    margin-bottom: 5px;
  }

  .form__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: 0.15s linear;
    opacity: 0;


    .errors {
      font-size: 8px;
      line-height: 14px;
      position: absolute;
      top: -18px;
      right: 0;
      display: block;
      transition: 0.1s linear;
      opacity: 0;
      color: #FF2222;
    }

    .errors-visible {
      transition: 0.1s linear;
      opacity: 1;
    }

    &:not(:last-child) {
      transform: translateY(-100px);
    }


    & > div {
      width: 48.5%;
      position: relative;


      .errorsDefault {
        top: 6px;
      }
    }

    input {
      margin-bottom: 12.5px;

      &:focus {
        outline: none;
      }

      cursor: pointer;
    }
  }

  .form__input {
    padding: 3.5px 0 6px;
    letter-spacing: .4px;
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 1px solid $input-border-color;
  }

  .last-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 87px;
    opacity: 1;
  }
}

.containerWithRadio {
  margin-top: 7px;
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  div {
    position: relative;

    input {
      display: none;

      &:checked + label:before {
        background: url('../images/radioImgChecked.svg') 0 0 no-repeat;
        top: 1.7px;
        left: -1px;
      }
    }

    label {
      cursor: pointer;
      top: -4px;
      position: relative;
      @include textStyle(14px, 16px, 400, $main-text-color);
      margin-right: 19px;
      padding-left: 18px;

      &:before {

        content: "";
        display: inline-block;
        width: 17px;
        height: 18px;
        position: absolute;
        left: -1.5px;
        top: 1px;
        background: url('../images/radioImg.svg') 0 0 no-repeat;
      }
    }


  }


}


button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  width: 154px;
  height: 32px;
  @include textStyle(14px, 18px, 400, white);
  border: 0.5px solid #FFFFFF;
  cursor: pointer;
  background-color: #5A61ED;
  font-family: 'PT Sans', sans-serif;

  span {
    display: none;
    position: absolute;
    color: #FF2222 !important;
    top: -80%;
  }

}


.button__error {
  animation: 1s ease-in-out 1.2s normal none running trambling-animation;
}


@keyframes trambling-animation {
  0%, 50%, 100% {
    transform: translateX(0);
  }
  10%, 30% {
    transform: translateX(-10px);
  }
  20%, 40% {
    transform: translateX(10px);
  }
}

.isLogin {
  display: flex;
  margin-top: auto;
  position: relative;
  font-size: 12px;
  top: -2px;
  @include textStyle(12px, 14px, 300, black);
  letter-spacing: .5px;


  a {
    cursor: pointer;
    margin-left: 5px;
    @include textStyle(12px, 14px, 500, #5A61ED);
    text-decoration: underline #5A61ED;
  }
}

@media (max-width: 504px) {
  main {
    width: 100vw;
  }
  .container-with-form {
    padding: 30px 15px;
  }
  .form__row {
    flex-direction: column;

    .container-with-select-nationality {
      order: 2;
    }

    .container-with-select-date-of-birth{
      order: 2;
    }

    & > div {
      width: 100% !important;
    }

  }
  .last-row {
    margin-top: 30px !important;

    & > div {
      display: flex;
      justify-content: center;
      order: 2;
      margin-top: 10px;
    }

    .isLogin {
      display: flex;
    }

    flex-direction: column;
  }

}

@media (max-width: 400px) {
  aside {
    min-width: 90px;
  }
}





