* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", serif;
}

body {
  background: #F4F5FC;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
}

aside {
  min-width: 137px;
  display: flex;
  width: 20.5%;
  writing-mode: vertical-rl;
  transform-origin: center;
  transform: rotate(-180deg);
  background-color: #5A61ED;
  color: white;
  font-size: 45px;
  line-height: 60px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2.2px;
  padding: 22px 6px;
  align-items: flex-end;
  font-family: "PT Sans", sans-serif;
  z-index: 10;
}

#my-svg {
  position: absolute;
  bottom: 0;
  right: 0;
}

h1 {
  width: calc(100% - 55px);
  max-width: 485px;
  color: #111111;
  font-size: 21.5px;
  line-height: 25px;
  font-weight: 400;
  font-style: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.form__description {
  display: block;
  max-width: 485px;
  width: calc(100% - 55px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.container-with-form {
  position: relative;
  padding: 39px 23px 33px 22px;
  width: 79.5%;
  background: white;
}
.container-with-form span {
  color: #111111;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
}

.row-with-select-1 {
  z-index: 200;
}

.row-with-select-2 {
  z-index: 100;
}

.form {
  display: flex;
  width: 100%;
  margin-top: 15px;
  flex-direction: column;
  height: calc(100% - 52px);
  position: relative;
}
.form label {
  color: #7C7C7C;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 5px;
}
.form .form__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: 0.15s linear;
  opacity: 0;
}
.form .form__row .errors {
  font-size: 8px;
  line-height: 14px;
  position: absolute;
  top: -18px;
  right: 0;
  display: block;
  transition: 0.1s linear;
  opacity: 0;
  color: #FF2222;
}
.form .form__row .errors-visible {
  transition: 0.1s linear;
  opacity: 1;
}
.form .form__row:not(:last-child) {
  transform: translateY(-100px);
}
.form .form__row > div {
  width: 48.5%;
  position: relative;
}
.form .form__row > div .errorsDefault {
  top: 6px;
}
.form .form__row input {
  margin-bottom: 12.5px;
  cursor: pointer;
}
.form .form__row input:focus {
  outline: none;
}
.form .form__input {
  padding: 3.5px 0 6px;
  letter-spacing: 0.4px;
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 1px solid #F2F2F2;
}
.form .last-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 87px;
  opacity: 1;
}

.containerWithRadio {
  margin-top: 7px;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.containerWithRadio div {
  position: relative;
}
.containerWithRadio div input {
  display: none;
}
.containerWithRadio div input:checked + label:before {
  background: url("../images/radioImgChecked.svg") 0 0 no-repeat;
  top: 1.7px;
  left: -1px;
}
.containerWithRadio div label {
  cursor: pointer;
  top: -4px;
  position: relative;
  color: #111111;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  margin-right: 19px;
  padding-left: 18px;
}
.containerWithRadio div label:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 18px;
  position: absolute;
  left: -1.5px;
  top: 1px;
  background: url("../images/radioImg.svg") 0 0 no-repeat;
}

button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  width: 154px;
  height: 32px;
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  border: 0.5px solid #FFFFFF;
  cursor: pointer;
  background-color: #5A61ED;
  font-family: "PT Sans", sans-serif;
}
button span {
  display: none;
  position: absolute;
  color: #FF2222 !important;
  top: -80%;
}

.button__error {
  animation: 1s ease-in-out 1.2s normal none running trambling-animation;
}

@keyframes trambling-animation {
  0%, 50%, 100% {
    transform: translateX(0);
  }
  10%, 30% {
    transform: translateX(-10px);
  }
  20%, 40% {
    transform: translateX(10px);
  }
}
.isLogin {
  display: flex;
  margin-top: auto;
  position: relative;
  font-size: 12px;
  top: -2px;
  color: black;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.5px;
}
.isLogin a {
  cursor: pointer;
  margin-left: 5px;
  color: #5A61ED;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  font-style: normal;
  text-decoration: underline #5A61ED;
}

@media (max-width: 504px) {
  main {
    width: 100vw;
  }
  .container-with-form {
    padding: 30px 15px;
  }
  .form__row {
    flex-direction: column;
  }
  .form__row .container-with-select-nationality {
    order: 2;
  }
  .form__row .container-with-select-date-of-birth {
    order: 2;
  }
  .form__row > div {
    width: 100% !important;
  }
  .last-row {
    margin-top: 30px !important;
    flex-direction: column;
  }
  .last-row > div {
    display: flex;
    justify-content: center;
    order: 2;
    margin-top: 10px;
  }
  .last-row .isLogin {
    display: flex;
  }
}
@media (max-width: 400px) {
  aside {
    min-width: 90px;
  }
}

/*# sourceMappingURL=styles.css.map */
