.successful-register{
    display: flex;
    flex-direction: column;
   justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 300;
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    padding-left: 64px;
    transform: translateY(-100%);
    transition: 0.3s linear;


}
.successful-register h2 {
    position: relative;
    top: 6px;
    font-family: 'WorkSans', sans-serif;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.9px;
    color: #111111;
    margin-bottom: 17px;
}

@media (max-width: 504px) {
    .successful-register{
        padding: 0;
        align-items: center;
    }
}


